#password-strength {
  margin-top: 0;
  max-height: 0;
  overflow: hidden;
  transition: .3s ease-in-out all;
}

*:has(#password:focus-within) + #password-strength {
  margin-top: 0.5em;
  max-height: 10em;
}
