@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --primary-500: hsl(271, 80%, 50%);
  --primary-900: hsl(271, 92%, 10%);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: hsl(0, 0%, 95%);
}

.container {
  max-width: min(90%, 1000px);
  margin: 0 auto;
}
