html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html,
body {
  font-size: 1.5rem;
}

body {
  background-color: #21232a;
  color: #ffffff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 70px;

  min-height: 100vh;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

button {
  border: none;
  outline: 0;
  padding: 0.5em 1em;
  font-size: 0.5em;
  border-radius: 0.25em;
  cursor: pointer;
  color: #21232a;
  background-color: #fff;
}

button:hover {
  background-color: #eee;
}

button:active {
  background-color: #ddd;
}

h1 {
  margin: 0;
}

.counter__buttons {
  display: flex;
  justify-content: space-evenly;
}

.counter {
  font-size: 4rem;
  margin: 0.5em 0;
  color: #00ccff;
}

#root {
  background-color: #343a46;
  padding: 1.5em;
  border-radius: 0.5em;
}