.card3d {
  transform: scale(1);
  perspective: 600px;
  position: relative;
}

.card3d,
.card3d .card3d-children {
  transition: all 250ms ease-out;
}

.card3d:hover {
  z-index: 10;
  transform: scale(1.1);
}
